.wrapper {
  /*margin-top: 20px;*/
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /*align-items: center;*/
  gap: 15px;

  /*width: 35vw;*/
}

.header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;

  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /*gap: 20px;*/
  width: 100%;
}

.input {
  margin-bottom: 10px;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  background: var(--white);
  padding: 20px 16px;
}

.input:focus-visible {
  border: transparent;
}

.textDanger {
  color: var(--red);
  font-size: 12px;
  font-weight: 300;
  line-height: 10px;
  margin-bottom: 10px;
}

.errorInput {
  border: 2px solid var(--red);
}

.correctInput {
  border: 2px solid var(--secondary);
}

.primaryLink {
  display: flex;
  justify-content: flex-start;
}

.formRadio {
  margin-right: 20px;
}

.formRadio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 14px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
.formRadio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 18px;
  position: absolute;
  left: 0;
  bottom: 1px;
}

.checkPersonalData input[type="checkbox"] {
  margin-right: 18px;
  margin-bottom: 20px;
}

.checkPersonalData a {
  margin-left: 5px;
  color: var(--secondary);
}

.footer p {
  font-weight: 700;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 980px) {
  .wrapper {
    gap: 5px;
  }

  .header {
    margin-bottom: 8px;

    font-size: 18px;
    line-height: 18px;
  }

  .input {
    padding: 14px 12px;
    border-radius: 6px;
  }
  .footer {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .checkPersonalData {
    font-size: 14px;
    line-height: 14px;
  }

  .checkPersonalData input[type="checkbox"] {
    margin-bottom: 10px;
  }
}
