.title,
.subtitle {
  color: var(--white);
  margin-bottom: 42px;
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 10px;
}

.article {
  display: flex;

  flex-direction: column;
  color: var(--white);

  gap: 1%;

  max-width: 300px;
  cursor: pointer;
}

.articlePicture {
  /*background-color: var(--background-preview-news-picture);*/
  /*border-radius: 40px;*/
}

.article img {
  max-height: 280px;
  background-color: var(--background-preview-news-picture);
  border-radius: 40px;
}

.caption {
  padding: 10px 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.finalCard {
  height: 100%;
  /*max-height: 282px;*/
}

.btnAllCases {
  display: none;
}

@media screen and (max-width: 980px) {
  .articles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px 5px;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }

  .subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }

  .finalCard {
    padding: 10%;
    border-radius: 40px;
  }

  .wrapperFinalCard {
    height: 100%;
  }
}

@media screen and (max-width: 760px) {
  .article {
    /*width: 100%;*/
    max-width: 100%;
  }
  .articles {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 2px;
  }

  .caption {
    padding: 5px 0;
    /*font-weight: 400;*/
    /*font-size: 18px;*/
    /*line-height: 28px;*/
  }

  .finalCard {
    display: none;
  }

  .btnAllCases {
    display: block;
    margin: 0 auto;
  }
}
