.wrapper {
  display: flex;
  justify-content: space-between;
  /*margin-top: 80px;*/

  padding: 2% 10% 12% 10%;

  background-color: var(--white);
}

.menu {
  flex-basis: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  gap: 1em;

  margin-bottom: 2rem;
}

.title {
  margin-bottom: 1em;
}

.menuItem {
  display: inline-flex;
  align-items: center;
  gap: 0 1.5em;

  /*padding-top: 32px;*/
}

.picture {
  align-self: center;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 3% 5% 12% 5%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;
    padding: 2% 3% 12% 3%;
  }

  .menu {
    flex-basis: 100%;
    align-items: center;
  }

  .title {
    max-width: 70%;
    margin-bottom: 0;
    text-align: center;
  }

  .menu ul {
    max-width: 70%;
  }

  .menuItem {
    /*gap: 2em 1.5em;*/
  }

  .menuImage {
    width: 64px;
    height: 64px;
  }
}
